@import 'variables.scss';

@mixin active-footer {
}

.card-footer-wrapper {
  width: 100%;
  height: 32px;
  background: #1b1b1b;
  &.active,
  &:hover {
    @include active-footer;
  }

  &.blue {
   
  }
}