@import 'variables.scss';

@mixin active-footer {
  // .left {
  //     background: linear-gradient(to right, #9b2f30, #9b2f30 25%, #9a2f30 50%, #872d2f 63%, #722a2e 75%, #5d282e);
  //   }
  // .right {
  //   background: linear-gradient(to left, #9b2f30, #9b2f30 25%, #9a2f30 50%, #872d2f 63%, #722a2e 75%, #5d282e);
  // }
}

.card-footer-wrapper {
  display: flex;
  width: 100%;
  height: 32px;
  background: #1b1b1b;
  color: #d1cecf;

  // .left {
  //   .skew {
  //     position: relative;
  //     width: 120px;
  //     height: 32px;
  //     padding: 0;
  //     font-size: 20px;
  //     position: relative;
  //     color: #FFF;
  //     background: #1b1b1b;
  //     z-index: 1;

  //     &::after {
  //       content: " ";
  //       position: absolute;
  //       display: block;
  //       width: 100%;
  //       height: 100%;
  //       top: 0;
  //       left: 0;
  //       z-index: -1;
  //       background: #1b1b1b;
  //       transform-origin: top left;
  //       transform: skew(+17deg, 0deg);
  //     }
  //   }
  //   .skew1 {
  //     position: relative;
  //     width: 121px;
  //     height: 32px;
  //     padding: 0;
  //     font-size: 20px;
  //     position: relative;
  //     color: #FFF;
  //     // background: #79dd1b;
  //     z-index: 1;

  //     &::after {
  //       content: " ";
  //       position: absolute;
  //       display: block;
  //       width: 100%;
  //       height: 100%;
  //       top: 0;
  //       left: 0;
  //       z-index: -1;
  //       background: linear-gradient(to top, #494949, #3e3c3c 50%, #191919);
  //       transform-origin: top left;
  //       transform: skew(+17deg, 0deg);
  //     }
  //   }
  // }

  .left {
    height: 32px;
    width: 296px;
    // background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
      margin-left: 13px;
      font-size: 14px;
      font-family: NotoSansCJKkr-Regular;
    }
    .number {
      font-family: Roboto;
      font-size: 14px;
      padding-right: 21px;
      &.red-arrow {
        position: relative;
        .number-value {
          position: absolute;
          margin-left: 1.5px;
          top: 16px;
          left: 22px;
          font-family: RobotoMedium, sans-serif;
        }
      }
    }
    .red-arrow {
      background: url("../../../../imagesHold/cards/red-up-arrow.png");
      background-repeat: round;
      width: 71px;
      height: 54px;
      margin-right: 2px;
    }
    &:hover {
      background: linear-gradient(to right, #9b2f30, #9b2f30 25%, #9a2f30 50%, #872d2f 63%, #722a2e 75%, #5d282e);
    }
  }
  .right {
    height: 32px;
    width: 296px;
    margin-left: -13px;
    // background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
      margin-right: 15px;
      font-size: 14px;
      font-family: NotoSansCJKkr-Regular;
    }
    .blue-arrow {
      background: url("../../../../imagesHold/cards/blue-down-arrow.png");
      background-repeat: round;
      width: 71px;
      height: 54px;
      margin-right: 2px;
    }
    .number {
      font-family: Roboto;
      font-size: 14px;
      margin-left: 7px;
      padding-left: 15px;
      &.blue-arrow {
        position: relative;
        margin-left: 1px;
        .number-value {
          position: absolute;
          margin-left: 1.5px;
          top: 16px;
          left: 22px;
          font-family: RobotoMedium, sans-serif;
        }
      }
    }
    &:hover {
      background: linear-gradient(to left, #9b2f30, #9b2f30 25%, #9a2f30 50%, #872d2f 63%, #722a2e 75%, #5d282e);
    }
  }

  .middle {
    width: 94px;
    height: 32px;
    padding: 0 1px;
    margin-left: -14px;
    background: linear-gradient(to top, #494949, #3e3c3c 50%, #191919);
    clip-path: polygon(0 0, 100% 0, 88% 100%, 12% 100%);
    z-index: 2;
    .middle-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 92px;
      height: 32px;
      padding-left: 0;
      padding-bottom: 2px;
      background-color: #1b1b1b;
      clip-path: polygon(0 0, 100% 0, 88% 100%, 12% 100%);
      font-family: RobotoMedium, sans-serif;
      font-size: 14px;
      &:hover {
        background-color: #9b2f30;
      }
    }
  }


  &.active,
  &:hover {
    @include active-footer;
  }

  &.blue {}
}
