@import 'variables.scss';

.match-img-wrapper {
  display: flex;
  .match-img {
    margin: 0 8px;
    width: 863px;
    height: 518px;
    background: url("../../imagesHold/pic1.png") no-repeat;
  }
}
