.select-box--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(to top, #282828, #1c1c1c 50%, #0f0f0f);
  border: 2px solid #b89c5e;
  border-radius: 6px;
  width: 136px;
  height: 32px;
  margin-left: 9px;
  margin-top: 4px;

}
.select-box--selected-item:hover,
.select-box--selected-item:active {
  border-radius: 4px;
  background: url('../../../imagesHold/fade.png') no-repeat, linear-gradient(to top, #5f4821, #55411e 50%, #49381b);
  cursor: pointer;
}

.select-box--container:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.select-box--selected-item {
  display: inline-flex;
  height: 100%;
  width: 100%;
  padding-right: 0;
  padding-left: 2px;
  vertical-align: middle;
  text-align: center;
  /* justify-content: space-around; */
  align-items: center;
}

.select-box--selected-item .text{
  width: 136px;
  text-align: left;
}

.select-box--items {
  width: 136px;
  z-index: 1;
  margin-top: 4px;
  margin-right: 0;
  border: 2px solid #b89c5e;
  border-radius: 6px;
  background: black;
}

.select-box--items .select-box--item:nth-of-type(1) {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.select-box--items .select-box--item:nth-of-type(3) {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}


.select-box--items div {
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(to top, #282828, #1c1c1c 50%, #0f0f0f);
  width: 132px;
  height: 32px;
  /* background-color: blueviolet; */
}

.select-box--items div:hover, .select-box--items div.active {
  background: linear-gradient(to top, #36363f, #1c1c1c 50%, #36363f)
}

.select-box--arrow {
  width: 30px;
  height: 0px;
  margin-top: 10px;
  padding: 0;
  display: inline-block;
}

.select-box--arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #fff;
}

.select-box--arrow-up {
  transform: rotate(180deg);
  margin-top: -9px;
  /* width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #fff;
  background-color: white; */
}
